<!-- Header.astro -->
<header id="main-header">
  <nav>
    <a href="/" class="nav-btn">Inicio</a>
    <a href="/trabajos" class="nav-btn">Galería</a>
    <a href="/sobremi" class="nav-btn">Proyectos</a>
    <a href="/contact" class="nav-btn">Contacto</a>
  </nav>

</header>

<style>
/* HEADER */
#main-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem 3rem;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.4s ease, color 0.4s ease;
}

#main-header nav {
  display: flex;
  gap: 2rem;
}

.nav-btn {
  color: rgb(129, 125, 125);
  text-decoration: none; 
  font-size: 0.85rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-bottom: 2px solid rgb(129, 125, 125);
  padding-bottom: 2px;
  transition: color 0.4s ease, border-color 0.4s ease;
  position: relative;
}

.nav-btn:hover {
  color: rgb(129, 125, 125);
  border-color: #ec0b52;
}

/* SCROLL HEADER */
#main-header.scrolled {
  background: rgba(255,255,255,0.85);
  backdrop-filter: blur(8px);
}

#main-header.scrolled .nav-btn {
  color: rgb(40,40,40);
}



</style>

<script>
const header = document.getElementById("main-header");

window.addEventListener("scroll", () => {
  if (window.scrollY > window.innerHeight * 0.6) {
    header.classList.add("scrolled");
  } else {
    header.classList.remove("scrolled");
  }
});
</script>
